 .footer {
    background-color: #121a2b;
    height: 0px;
    color: white;
    padding: 1px; /* Reduced padding for the header */
    text-align: center;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 