// Style the login form container
.login-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; // Ensure it's above the solar system layers
    width: 100%;
    max-width: 400px;
    background: rgba(9, 5, 54, 0.486);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  
    .login-form {
      display: flex;
      flex-direction: column;
      gap: 1em;
  
      h2 {
        font-size: 1.5em;
        text-align: center;
      }
  
      .form-group {
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 0.5em;
        }
  
        input {
          font-size: 1em;
          padding: 0.5em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
  
      button {
        padding: 0.5em;
        margin-top: 1em;
        border: none;
        border-radius: 4px;
        font-size: 1em;
        cursor: pointer;
  
        &:first-of-type {
          background-color: #007bff;
          color: white;
  
          &:hover {
            background-color: #0056b3;
          }
        }
  
        &:last-of-type {
          background-color: #db4437;
          color: white;
          margin-top: 0.5em;
  
          &:hover {
            background-color: #c1351d;
          }
        }
      }
    }
  }