$max-planets: 8; // 8 planets + sun at the center
$colors: (
  sun: #FDE528,
  mercury: #C1B4AC,
  venus: #F2D299,
  earth: #05f,
  mars: #E67E5A,
  jupiter: #C5AA96,
  saturn: #AF9D8E,
  uranus: #C2E8EA,
  neptune: #5C92F0
);

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #10151a;
  font-family: 'Arial', sans-serif;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  transform-style: preserve-3d;
}

.system {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vmin;
  height: 100vmin;
  border-radius: 50%;
  animation: rotateSystem 200s linear infinite;
}

@for $i from 1 through $max-planets {
  .orbit-#{$i} {
    position: absolute;
    border: 1px solid rgba(127, 255, 255, .3);
    border-radius: 50%;
    width: (10vmin * $i);
    height: (10vmin * $i);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-style: preserve-3d;
    animation: rotateOrbit (100s / $i) linear infinite;

    .sphere {
      position: absolute;
      top: 0;
      width: 2vmin;
      height: 2vmin;
      border-radius: 50%;
      background-color: map-get($colors, nth(map-keys($colors), $i));
      transform: translateY(-50%);
      animation: rotateSphere (30s / $i) linear infinite;
    }
  }
}

@keyframes rotateSystem {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes rotateOrbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateSphere {
  0% {
    transform: translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateY(-50%) rotateZ(-360deg);
  }
}
